/* Reset Css */
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth; /* cuộn xuống khi chọn trên nav */
  font-family: Arial, Helvetica, sans-serif;
}
/* 
  1.từ ngoài vào trong
  2.Từ trên xuống dưới
  3.Từ tổng quan đến chi tiết
*/
/* 
  1.vị trí
  2.Kích thước (width,height)
  3.Màu sắc
  4.Kiểu dáng (kiểu chữ,hình vuông,tròn)
*/

/* common */
#main {
}

.clear {
  clear: both;
}

.row {
  margin-left: -8px;
  margin-right: -8px;
}

.row::after {
  content: "";
  display: block;
  clear: both;
}

.col {
  float: left;
  padding-left: 8px;
  padding-right: 8px;
}

.text-center {
  text-align: center !important;
}

.pull-right {
  float: right;
}

.btn {
  background-color: #000;
  color: #fff;
  text-decoration: none;
  padding: 11px 16px;
  display: inline-block;
  margin-top: 16px;
  border: none;
  -webkit-appearance: none; /* sửa submi button trên mobile */
  /* text-align: center; */
}

.btn:hover {
  background-color: #ccc;
  color: #000;
  cursor: pointer;
}

.mt-8 {
  margin-top: 8px !important;
}

.mt-16 {
  margin-top: 16px !important;
}

.mt-32 {
  margin-top: 32px !important;
}

.col-third {
  width: 33.33333%;
}

.col-half {
  width: 50%;
}

.col-full {
  width: 100%;
}

/* main */
.text-white {
  color: #fff !important;
}

#header {
  height: 46px;
  background-color: #000;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1; /* độ ưu tiên xếp chồng lên nhau */
  /* overflow: hidden; */
  /* trình chiếu thẻ con  */
}

#nav {
  display: inline-block;
}

#nav,
.subnav {
  list-style-type: none;
}

#nav > li {
  display: inline-block;
}

#nav li {
  position: relative;
}

#nav > li > a {
  color: #fff;
  text-transform: uppercase;
  font-size: 15px;
}

#nav li a {
  text-decoration: none;
  line-height: 46px;
  padding: 0 24px;
  display: inline-block;
}

#nav li:hover .subnav {
  display: block;
}

#nav > li:hover > a,
#nav .subnav li:hover {
  color: #000;
  background-color: #ccc;
}

#nav .subnav {
  display: none;
  min-width: 160px;
  position: absolute;
  background-color: #fff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3); /* shadow box*/
  top: 100%;
  left: 0;
}

#nav .subnav a {
  color: #000;
  padding: 0 12px;
  /* line-height: 38px; */
}

#nav .nav-arrow-down {
  font-size: 12px;
}

#header .mobile-menu-btn {
  position: absolute;
  top: 0;
  right: 0;
  display: none;
}

#header .mobile-menu-btn,
#header .search-btn {
  float: right;
  padding: 0 21px;
}

#header .search-btn:hover {
  background-color: #f44336;
  cursor: pointer;
}

#header .mobile-menu-btn:hover {
  background-color: #ccc;
}

#header .mobile-menu-btn:hover .menu-icon {
  color: #000;
}

#header .menu-icon,
#header .search-icon {
  color: #fff;
  font-size: 16px;
  line-height: 46px;
}

#slider .text-content {
  position: absolute;
  bottom: 47px;
  color: #fff;
  width: 100%;
  text-align: center;
}

#slider .text-heading {
  font-size: 24px;
  font-weight: 500;
}

#slider .text-description {
  font-size: 15px;
  margin-top: 25px;
  text-shadow: 0 0 1px #000;
}

#slider {
  position: relative;
  margin-top: 46px;
  padding-top: 50%; /* bang 50% cua chinh no */
  background: url("../image/slider/chicago.jpg") top center / cover no-repeat;
}

#content {
}

#content .content-section {
  width: 800px;
  max-width: 100%;
  padding: 64px 0 112px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 16px;
  padding-right: 16px;
}

#content .section-heading {
  font-size: 30px;
  text-align: center;
  font-weight: 500;
  letter-spacing: 4px; /*khoang cach giua cac ki tu cua chu */
}

#content .section-sub-heading {
  font-size: 15px;
  text-align: center; /*  de căng giữa */
  margin-top: 25px;
  font-style: italic; /* chữ nghiêng */
  opacity: 0.7; /*độ mờ của chữ */
}

#content .about-content {
  font-size: 15px;
  margin-top: 30px;
  text-align: justify; /* căng đều hai bên của content*/
  line-height: 1.4; /* chiều cao giữa các dòng (nếu tiếng việt nên dùng 1.6)*/
}

#content .members-list {
  margin-top: 31px;
}

#content .member-name {
  font-size: 15px;
}

#content .member-img {
  margin-top: 15px;
  width: 154px;
  border-radius: 4px; /* bo cong góc ảnh */
}

/* Tour section */
.tour-section {
  background-color: black;
}

.tickets-list {
  background-color: #fff;
  margin-top: 35px;
  list-style: none;
}

.tickets-list li {
  font-size: 15px;
  color: #757575;
  padding: 11px 16px;
  border-bottom: 1px solid #ddd;
}

.tickets-list .sold-out {
  background-color: #f44336;
  color: #fff;
  padding: 3px 4px;
  margin-left: 16px;
}

.tickets-list .quatity {
  float: right;
  width: 24px;
  height: 24px;
  background-color: #000;
  color: #fff;
  border-radius: 50%; /*bo cong viền */
  text-align: center;
  line-height: 24px;
  margin-top: -3px;
}

/* .place */
.place-list {
  /* margin-top: 32px;
  margin-left: -8px;
  margin-right: -8px; */
  /* margin: 32px -8px 48px; */
  margin-top: 16px;
}

.place-img :hover {
  opacity: 0.6;
}

.place-img {
  width: 100%;
  display: block;
}

.place-body {
  background-color: #fff;
  padding: 16px;
  font-size: 15px;
}

.place-heading {
  font-weight: 600;
  font-size: 15px;
}

.place-time {
  margin-top: 15px;
  color: #757575;
}

.place-desc {
  margin-top: 15px;
  line-height: 1.4;
}

.modal {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.4);
  display: none;
  align-items: center;
  justify-content: center;
}

.modal-container {
  background: #fff;
  width: 900px;
  min-height: 200px;
  position: relative;
  max-width: calc(100% - 32px); /* co nhỏ chừa khoảng */
  animation: modalFadeIn ease 0.5s;
}

.modal-header {
  background: #009688;
  height: 130px;
  /* chu y dung flex cang giua*/
  display: flex;
  align-items: center;
  justify-content: center;
  /* chu y dung flex */
  font-size: 30px;
  color: #fff;
  letter-spacing: 4px;
}

.modal-heading-icon {
  margin-right: 16px;
}

.modal-close {
  position: absolute;
  right: 0;
  top: 0;
  color: #fff;
  padding: 12px;
  cursor: pointer;
}

.modal-close:hover {
  color: #000;
  background-color: #ccc;
}

.modal-body {
  padding: 16px;
}

.modal-label {
  display: block;
  font-size: 15px;
  margin-bottom: 12px;
}

.modal-input {
  border: 1px solid #ccc;
  width: 100%;
  padding: 10px;
  font-size: 15px;
  margin-bottom: 24px;
}

#buy-tickets {
  background: #009688;
  border: none;
  color: #fff;
  width: 100%;
  text-transform: uppercase; /* uppercase */
  padding: 17px;
  cursor: pointer;
  font-size: 15px;
}

#buy-tickets:hover {
  opacity: 0.8;
}

.modal-footer {
  padding: 16px;
  margin-top: 19px;
  text-align: right;
}

.modal-footer a {
  color: #2196f3;
}

.modal.open {
  display: flex;
}

/* chuyển động trôi xuống của modal  */
@keyframes modalFadeIn {
  from {
    transform: translateY(-130px);
    opacity: 0;
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

/* Contact form  */
.contact-content {
  margin-top: 48px;
}

.contact-infor {
  font-size: 18px;
}

.contact-infor a {
  color: #101aef;
  opacity: 0.8;
}

.contact-infor a:hover {
  opacity: 1;
}

.contact-infor i[class*="ti-"] {
  display: inline-block;
  width: 30px;
  line-height: 1.5;
}

.contact-form {
  font-size: 15px;
}

.contact-form .form-control {
  padding: 10px;
  border: 1px solid #ccc;
  width: 100%;
}

/* map-section */
.map-section img {
  width: 100%; /* để khi thu nhỏ cửa sổ ảnh vẫn hiện đủ */
}

#footer {
  padding: 64px 16px;
  text-align: center;
}

#footer .social-list {
  font-size: 23px;
}

#footer .social-list a {
  color: rgba(0, 0, 0, 0.6);
  text-decoration: none; /* bỏ gạch chân của thẻ a */
}

#footer .copy-right a:hover,
#footer .social-list a:hover {
  color: rgba(0, 0, 0, 0.4);
}

#footer .copy-right {
  margin-top: 15px;
  color: rgba(0, 0, 0, 0.6);
}

#footer .copy-right a {
  color: rgba(0, 0, 0, 0.6);
}
